<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 수정</title>
</head>
<body>
  <h3>회원수정</h3>
  <hr>
  <form action="" method="post">
    <div><label for="">이메일</label><input type="email" readonly></div>
    <div><label for="">비밀번호</label><input type="password"></div>
    <div><label for="">비밀번호확인</label><input type="password"></div>
    <div><label for="">별칭</label><input type="text"></div>
    <div>
      <button type="submit">수정</button>
      <button type="reset">취소</button>
    </div>
  </form>
</body>
</html>