<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기페이지</title>
  <style>
    * {outline:1px solid red}
  </style>
</head>
<body>
  <div th:insert="~{layout/common_ui::header1}">header</div>
  <div th:insert="~{layout/common_ui::header2('매개값1','매개값2')}">header</div>
  <div th:insert="~{layout/common_ui::header3(~{this::title})}">
    <title>타이틀</title>
  </div>
  <div>body</div>
  <div th:replace="~{layout/common_ui::footer1}">footer</div>
</body>
</html>