<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원등록</title>
  <style>
    .errmsg {
      font-size:0.8em;
      font-weight:bold;
      color:red;
    }
  </style>
</head>
<body>
  <h3 th:text="#{title.member.add}">회원등록</h3>
  <hr>
  <form id="frm" action="" method="post" th:object="${addForm}" >
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="errmsg" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <div>
      <label for="" th:text="#{label.member.email}">이메일</label>
      <input type="text" th:field="*{email}">
      <span class="errmsg"></span>
      <span th:errorclass="errmsg" th:errors="*{email}"></span>
    </div>

    <div>
      <label for="" th:text="#{label.member.pw}">비밀번호</label>
      <input type="text" th:field="*{pw}">
      <span th:errorclass="errmsg" th:errors="*{pw}"></span>
    </div>
    <div>
      <label for="" th:text="#{label.member.nickname}">별칭</label>
      <input type="text" th:field="*{nickname}">
      <span th:errorclass="errmsg" th:errors="*{nickname}"></span>
    </div>
    <div>
      <button type="submit" th:text="#{btn.add}" id="addBtn">등록</button>
      <button type="reset" th:text="#{btn.cancel}">취소</button>
      <button type="button" th:text="#{btn.list}" th:onclick="|location.href='@{/admin/members/all}'|">목록</button>
    </div>
  </form>
  <script>
    //addBtn.addEventListener('click',evt=>{
    //  evt.preventDefault(); //submit 이벤트 중지
    //  if(email.value.trim().length == 0) {
    //    email.nextElementSibling.textContent = '이메일 입력은 필수입니다';
    //    email.focus();
    //    return;
    //  }
    //  frm.submit();  //요청메세지 생성
    // });

  </script>
</body>
</html>