<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 수정</title>
  <style>
    .errmsg {
      font-size:0.8em;
      font-weight:bold;
      color:red;
    }
    ul {
      margin:0;padding:0
    }
    ul,li{
      text-decoration:none;
    }
    .fieldError{
      border:1px solid red;
      color:red;
    }
    .fieldSuccess{
      border:1px solid green;
      color:green;
    }
  </style>
</head>
<body>
  <h3>회원수정</h3>
  <hr>
  <form action="" method="post" th:object="${form}">
    <div><label for="">아이디</label><input type="text" readonly th:field="*{memberId}"></div>
    <div><label for="">이메일</label><input type="email" readonly th:field="*{email}"></div>
    <div>
      <label for="">비밀번호</label>
      <input type="text"  th:field="*{pw}">
      <ul th:if="${#fields.hasErrors('pw')}" th:class="errmsg">
        <li th:each="err : ${#fields.errors('pw')}" th:text="${err}" />
      </ul>
    </div>
    <div>
      <label for="">별칭</label>
      <input type="text" th:field="*{nickname}">
      <ul th:if="${#fields.hasErrors('nickname')}" th:class="errmsg">
        <li th:each="err : ${#fields.errors('nickname')}" th:text="${err}" />
      </ul>
    </div>
    <div>
      <button type="submit">저장</button>
      <button type="button" id="cancelBtn">취소</button>
    </div>
  </form>
  <script th:inline="javascript">
      cancelBtn.addEventListener('click',e=>{
        console.log('취소');
        location.href = [[@{|/admin/members/${form.memberId}|}]];
      });
  </script>
</body>
</html>