<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>삼품목록</title>
</head>
<body>
  <div class="product-wrap">
    <h3>상품목록</h3>
    <hr>
    <table>
      <thead>
        <tr>
          <th>아이디</th>
          <th>상품명</th>
          <th>수량</th>
          <th>가격</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product : ${list}">
          <td th:text="${product.productId}">1</td>
          <td><a href="/products/1" th:href="@{/products/{pid}(pid=${product.productId})}"  th:text="${product.pname}">컴퓨터</a></td>
          <td th:text="${product.quantity}">10</td>
          <td th:text="${product.price}">1000000</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div><button id="addBtn">상품등록</button></div>
  </div>
  <script>
    addBtn.addEventListener('click',e=>{
      location.href = '/products/add';
    });
  </script>
</body>
</html>